.advantage__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #110303;
  margin-bottom: 40px;
}
.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.advantage__item {
  flex-basis: 290px;
  min-height: 61px;
  font-size: 14px;
  line-height: 140%;
  color: #110303;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 61px;
  padding: 10px 10px 10px 81px;
}

.advantage__item_stack {
  background-image: url(../img/Group22.svg);
}
.advantage__item_mockup {
  background-image: url(../img/Group24.svg);
}
.advantage__item_inclusive {
  background-image: url(../img/Group25.svg);
}
.advantage__item_adapt {
  background-image: url(../img/Group26.svg);
}
.advantage__item_clear {
  background-image: url(../img/Group27.svg);
}
.advantage__item_copyright {
  background-image: url(../img/Group34.svg);
}

@media (min-width: 480px) {
  .advantage__title {
    font-size: 40px;
  }
  .advantage__item {
    font-size: 16px;
  }
  .advantage__list {
    gap: 40px;
  }
}

@media (min-width: 768px) {
  .advantage__list {
    justify-content: space-between;
    gap: 80px;
  }
}

@media (min-width: 1440px) {
  .advantage__list {
    gap: 100px;
  }
  .advantage__item {
    font-size: 18px;
  }
}
